@page
@model ZTPSBD.Pages.CRUD.Adresses.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Adress[0].street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adress[0].city)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adress[0].street_no)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adress[0].customer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Adress) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.city)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.street_no)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.customer.id_customer)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.id_adress">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.id_adress">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.id_adress">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
