@page
@model ZTPSBD.Pages.CRUD.Products.DeleteModel

@{
    ViewData["Title"] = "Delete product";
}

<h1>@ViewData["Title"]</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.expiration_date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.expiration_date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.mass)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.mass)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.product_Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.product_Category.name)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Product.id_product" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="/Browse/Products">Back to List</a>
    </form>
</div>
