@page
@model ZTPSBD.Pages.CRUD.Orders.IndexModel

@{
    ViewData["Title"] = "Orders";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-page="/Admin/CRUD/Orders/Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].due_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Payment_id_payment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Delivery_Service_id_deliveryman)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Order) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.due_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Payment_id_payment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Delivery_Service_id_deliveryman)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.id_order">Details</a> |
                <a asp-page="/Seller/CRUD/Orders/Edit" asp-route-id="@item.id_order">Edit</a> |
                <a asp-page="/Admin/CRUD/Orders/Delete" asp-route-id="@item.id_order">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
