@page
@model ZTPSBD.Pages.CRUD.Orders.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.due_date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.due_date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Payment_id_payment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Payment_id_payment)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Delivery_Service_id_deliveryman)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Delivery_Service_id_deliveryman)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Order.id_order">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
