@page
@model ZTPSBD.Pages.CRUD.Orders.DetailsModel

@{
    ViewData["Title"] = "Order details";
}

<h1>@ViewData["Title"]</h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.id_order)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.id_order)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.due_date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.due_date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Payment_id_payment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Payment_id_payment)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Delivery_Service_id_deliveryman)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Delivery_Service_id_deliveryman)
        </dd> 
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.orderAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.orderAddress)
        </dd>
    </dl>
</div>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Products.Keys.FirstOrDefault().name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Products.Keys.FirstOrDefault().price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Products.Keys.FirstOrDefault().expiration_date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Products.Keys.FirstOrDefault().mass)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Products.Keys.FirstOrDefault().product_Category)
                </th>
                <th>
                    Count
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Products)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Key.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Key.price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Key.expiration_date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Key.mass)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Key.product_Category.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
            </tr>
            }
            </tbody>
    </table>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>
