@page
@model ZTPSBD.Pages.CRUD.Customers.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].vat_number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].user)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Customer) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vat_number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user.login)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.id_customer">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.id_customer">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.id_customer">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
