@page
@model ZTPSBD.Pages.CRUD.Products.DetailsModel

@{
    ViewData["Title"] = "Product details";
}

<h1>@ViewData["Title"]</h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.expiration_date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.expiration_date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.mass)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.mass)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.product_Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.product_Category.name)
        </dd>
    </dl>
</div>
<div>
    @if (User.HasClaim("UserType", "Seller") || User.HasClaim("UserType", "Admin"))
    {

        <a asp-page="./Edit" asp-route-id="@Model.Product.id_product">Edit</a>  
        <a asp-page="./Delete" asp-route-id="@Model.Product.id_product">Delete</a> 
    }
    <form asp-page-handler="Add" method="post">
    @Html.Hidden("id", Model.Product.id_product)
    <button type="submit" class="btn btn-primary btn-sm">
        <span class="glyphicon glyphicon-shopping-cart"></span>Add to basket
    </button>
</form>
<a asp-page="./Products">Back to List</a>
</div>
