@page
@model ZTPSBD.Pages.CRUD.Products.IndexModel

@{
    ViewData["Title"] = "Products";
}

<h1>@ViewData["Title"]</h1>

@if (User.HasClaim("UserType", "Seller") || User.HasClaim("UserType", "Admin"))
{
    <p>
        <a asp-page="./Create">Create New</a>
    </p>
}
<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="./Index">Back to full List</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Products" asp-route-sortOrder="@Model.NameSort">
                @Html.DisplayNameFor(model => model.Product[0].name)
                </a>
            </th>
            <th>
                <a asp-page="./Products" asp-route-sortOrder="@Model.PriceSort">
                    @Html.DisplayNameFor(model => model.Product[0].price)
                </a>
            </th>
            <th>
                <a asp-page="./Products" asp-route-sortOrder="@Model.DateSort">
                    @Html.DisplayNameFor(model => model.Product[0].expiration_date)
                </a>
            </th>
            <th>
                <a asp-page="./Products" asp-route-sortOrder="@Model.MassSort">
                    @Html.DisplayNameFor(model => model.Product[0].mass)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].product_Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
      @foreach (var item in Model.Product) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.expiration_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mass)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.product_Category.name)
            </td>
            <td>
                @if (User.HasClaim("UserType", "Seller") || User.HasClaim("UserType", "Admin"))
                {

                    <a asp-page="./Edit" asp-route-id="@item.id_product">Edit</a>
                    <a asp-page="./Delete" asp-route-id="@item.id_product">Delete</a>
                }
                <a asp-page="./Details" asp-route-id="@item.id_product">Details</a>

                <form asp-page-handler="Add" method="post">
                    @Html.Hidden("id", item.id_product)
                    <button type="submit" class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-shopping-cart"></span>Add to basket
                    </button>
                </form>
                <form asp-page-handler="Buy" method="post">
                    @Html.Hidden("id", item.id_product)
                    <button type="submit" class="btn btn-primary btn-sm">
                        Buy now
                    </button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
