@page
@model ZTPSBD.Pages.CRUD.Users.IndexModel

@{
    ViewData["Title"] = "Users";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User[0].password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].login)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].email_address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].User_Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.User) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email_address)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.User.User_Type)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.id_user">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.id_user">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.id_user">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
