@page
@model ZTPSBD.Pages.Browse.BrowseCartcshtmlModel
@{
}


<h1>Your Cart</h1>

<table class="table">
  
        <thead>

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.cartDB.GetProductList[0].name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.cartDB.GetProductList[0].price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.cartDB.GetProductList[0].expiration_date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.cartDB.GetProductList[0].mass)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.cartDB.GetProductList[0].name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.cartDB.GetProductList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.expiration_date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.mass)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.product_Category.name)
                    </td>

                    <td>
                        <form asp-page-handler="Delete" method="post">
                            <button class="btn btn-primary btn-large">Remove Item</button>
                            <input type="hidden" name="id" value="@item.id_product" />

                        </form>
                    </td>
                </tr>
            }
        </tbody>
    
    </table>
    <form asp-page-handler="Delete" method="post">
        <button class="btn btn-primary btn-large">Clear Basket</button>
    </form>   

 <form method="post" asp-page-handler="Place">
        <button class="btn btn-primary btn-large">Place Order</button>
 </form>


