@page
@model ZTPSBD.Pages.Browse.BrowseCartcshtmlModel
@{
}


<h1>Your Cart</h1>

<table class="table">
  
        <thead>

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ShoppingCart.Keys.FirstOrDefault().name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShoppingCart.Keys.FirstOrDefault().price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShoppingCart.Keys.FirstOrDefault().expiration_date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShoppingCart.Keys.FirstOrDefault().mass)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShoppingCart.Keys.FirstOrDefault().name)
                </th>
                <th>
                    Count
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ShoppingCart.Keys)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.expiration_date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.mass)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.product_Category.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.ShoppingCart[item])
                </td>

                <td>
                    <form asp-page-handler="Remove" method="post">
                        @Html.Hidden("id", item.id_product)
                        <button class="btn btn-primary btn-large">Remove Item</button>

                    </form>
                </td>
            </tr>
            }
        </tbody>
    
    </table>
    <form asp-page-handler="Clear" method="post">
        <button class="btn btn-primary btn-large">Clear Basket</button>
    </form>


