@page
@model ZTPSBD.Pages.CRUD.Products.IndexModel

@{
    ViewData["Title"] = "Products";
}

<h1>@ViewData["Title"]</h1>

@if (User.HasClaim("UserType", "Seller") || User.HasClaim("UserType", "Admin"))
{
    <p>
        <a asp-page="/Seller/Crud/Products/Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].expiration_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].mass)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].product_Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Product) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.expiration_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mass)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.product_Category.name)
            </td>

            <td>

                @if (User.HasClaim("UserType", "Seller") || User.HasClaim("UserType", "Admin"))
                {

                    <a asp-page="Seller/CRUD/Products/Edit" asp-route-id="@item.id_product">Edit</a>
                    <a asp-page="Seller/CRUD/Products/Delete" asp-route-id="@item.id_product">Delete</a>
                }
                <a asp-page="Seller/CRUD/Products/Details" asp-route-id="@item.id_product">Details</a>

                <form asp-page-handler="Add" method="post">
                    <button class="btn btn-primary btn-large">Dodaj Do koszyka</button>
                    <input type="hidden" name="id" value="@item.id_product" />
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
