@page
@model ZTPSBD.Pages.CRUD.Product_Categories.IndexModel

@{
    ViewData["Title"] = "Categories";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product_Category[0].name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Product_Category) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.id_category">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.id_category">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.id_category">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
